body {
     margin: 0;
     text-align: center;
     font-family: 'Merriweather', serif;
     font-size: 200%;
     color: #40514E;
} 

button {
    background-color: #66BFBF;
    border: none;
    font-size: 25px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-weight: 500;
}

.btn {
    color: white;
    text-decoration: none;
}

hr {
    width: 6%;
    height: 0px;
    border-top: 10px dotted lightgrey;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 100px auto 100px auto;
}

h1 {
    color: #11999E;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;  
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

a {
    color: #11999E
}

.top-container {
    position: relative;
    padding-top: 90px; 
    background-color: rgb(221, 250, 250);
}

.middle-container {
    
}

.bottom-container {
   background-color: #66BFBF;
   margin: 50px auto 50px auto;
   height: 200px;
   padding-top: 50px;

}

.top-cloud {
   position: absolute;
   right: 480px;
   top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 450px;
    bottom: 320px;
}

.web {
    text-decoration: underline;
    font-weight: normal;
    color: #66BFBF;
}

.designer {
    font-weight: normal;
    color: #66BFBF;
    line-height: 2;
}

.profile-photo {
    padding-top: 50px;
}

.computer {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillies {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    font-weight: lighter;
    font-size: medium;
}

.bottom-p {
    font-size: medium;
    font-weight: lighter;
    width: 50%;
    margin: 50px auto 50px auto;
}

.contact-me {
    margin: 80px auto 80px auto;
}

.footer-link {
    margin: 0 30px 0 30px;
    font-size: medium;
    font-weight: 500;
    color: #11999E;
}

.copy-right {
    margin: 60px auto 30px auto;
    font-size: medium;
    color: #EAF6F6;
}

.profile-photo {
    border-radius: 50%;
    width: auto;
    height: auto;
    /* margin-top: 50px; */
}

.intro {
    width: 30%;
    margin: auto;
    color: #66BFBF;
    line-height: 2;
    font-size: medium;
}